<div class="product">
  <div class="container">
    <div class="center">
      <div class="col-md-12">
          <a href="<%= product.link %>" class="product-name"><%= product.name %></a>
      </div>
    </div>
    
    <div class="center">
        <img src="<%= product.image %>" alt="<%= product.name %>" width="220" height="220">
      </div>
    </div>

    <div class="center">
      <div class="col-md-6">
      	<div class="product-price">Цена: <%= product.price %></div>
      </div>
    </div>
  <h1></h1>
  
  
  </div>
</div>

